body{
    background-color: black;
}
.wrapper{
margin:auto;
width: 90vw;
min-height: 100vw;
background-color: black;
background-image: url(/source/fondo.jpg);
text-align: center;
}
h1{
text-align: center;
}

.titulo{

padding-left: 150px;
color:blue;
text-align: left;

}
.card{
width: 20%;
display: inline-block;
}

.car-image{
width: 100%;
}
header{
border:double;
border-color: blueviolet;
text-align: center;
height: 40px;
background-color: black;

}
li{
position: relative;
display: inline-block;
bottom: 10px;
}

a{
font-size: larger;
border-radius: 10px;
display: inline-block;
text-decoration: none;
border: solid;
background-color: orangered;


}
.carrito{
margin-top: 100px;

}
